<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="kr.co.workaddict">


    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />


    <application
        android:name="kr.co.workaddict.MasterApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="n">

        <activity
            android:name="kr.co.workaddict.Introduce.IntroduceParent"
            android:theme="@style/introduceStyle" />
        <activity android:name="kr.co.workaddict.MyPageFragment.ShowTermsText" />
        <activity android:name="kr.co.workaddict.FollowInfo.FollowTimeline" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="kr.co.workaddict.provider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
            
        </provider>

        <activity android:name="kr.co.workaddict.Login.GoogleLogin" />
        <activity android:name="kr.co.workaddict.MyPageFragment.SettingFragment" />
        <activity android:name="kr.co.workaddict.BottomFragment.TimeLinePage" />
        <activity
            android:name="kr.co.workaddict.FollowInfo.FollowInvite"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="kr.co.workaddict.ShowMyPlaceDetailInfo"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="kr.co.workaddict.FollowInfo.Follows"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="kr.co.workaddict.CategoryList"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="kr.co.workaddict.RegisterPageTerms"
            android:windowSoftInputMode="adjustResize" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name="kr.co.workaddict.BottomNavi"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="kakaolink"
                    android:scheme="kakao{f6fab5520c90e13c1e8208b493976c4a}" />
            </intent-filter>
        </activity>
        <activity android:name="kr.co.workaddict.TimeLineClass.AddTimeLineContent" />

        <activity android:name="kr.co.workaddict.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="kr.co.workaddict.Registration"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="kr.co.workaddict.MyPageFragment.QuestionActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="kr.co.workaddict.LoginPage"
            android:windowSoftInputMode="adjustResize" />

        <service
            android:name="kr.co.workaddict.MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="true"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/app_logo" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/app_name" />
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="f6fab5520c90e13c1e8208b493976c4a" />
        <meta-data
            android:name="com.kakao.sdk.kakaonavi.useWebView"
            android:value="false" />

        <activity android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao{NATIVE_APP_KEY}://oauth“ -->
                <data
                    android:host="oauth"
                    android:scheme="kakao{f6fab5520c90e13c1e8208b493976c4a}" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
    </application>

</manifest>